<!-- Navigation buttons at the bottom of the post. -->

<nav class="post-navigation d-flex justify-content-between" aria-label="Post Navigation">
  {% assign previous = site.data.locales[include.lang].post.button.previous %}
  {% assign next = site.data.locales[include.lang].post.button.next %}

  {% assign previous_page = page.previous %}
  {% if page.previous.lang != lang %}
    {% assign previous_page = previous_page.previous %}
  {% endif %}

  {% assign next_page = page.next %}
  {% if page.next.lang != lang %}
    {% assign next_page = next_page.next %}
  {% endif %}

  {% if previous_page.url and previous_page.lang == lang %}
    <a
      href="{{ site.baseurl }}{{ page.previous.url }}"
      class="btn btn-outline-primary"
      aria-label="{{ previous }}"
    >
      <p>{{ previous_page.title }}</p>
    </a>
  {% else %}
    <div class="btn btn-outline-primary disabled" aria-label="{{ previous }}">
      <p>-</p>
    </div>
  {% endif %}

  {% if next_page.url and next_page.lang == lang %}
    <a
      href="{{ site.baseurl }}{{page.next.url}}"
      class="btn btn-outline-primary"
      aria-label="{{ next }}"
    >
      <p>{{ next_page.title }}</p>
    </a>
  {% else %}
    <div class="btn btn-outline-primary disabled" aria-label="{{ next }}">
      <p>-</p>
    </div>
  {% endif %}
</nav>