---
layout: default
refactor: true
---

{% include lang.html %}

{% assign pinned = site.posts | where: 'lang', lang | where: 'pin', 'true' %} 
{% assign pinned_num = pinned.size %}

<div id="post-list" class="flex-grow-1 px-xl-1">
  {% if pinned_num > 0 %}
    {% for post in pinned %}
      {% include article.html %}
    {% endfor %}
    <br/>
  {% endif %}
  {% for post in paginator.posts %}
    {% include article.html %}
  {% endfor %}
</div>
<!-- #post-list -->

{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}
